<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta th:fragment="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/dropify/css/dropify.css">
</head>

<body>
<!--<header th:replace="~{_parts/header :: main('メニュー')}"></header>-->

<div th:replace="~{_fragments/layout :: header}"></div>

<div class="container">
  <div th:replace="~{_fragments/layout :: errorMessages}">エラーメッセージ</div>
  <div th:replace="~{_fragments/layout :: errorMessage}">エラーメッセージ</div>
  <div th:replace="~{_fragments/layout :: message}">処理完了メッセージ</div>

  <br>
  <a th:href="@{/}">< 一覧へ戻る</a>
  <br>
  <br>
  <h4>商品登録</h4>

  <form method="post" th:object="${product}" th:action="@{/products/add}" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">商品名</label>
      <input type="text" class="form-control" autocomplete="off"
             th:field="*{name}">
    </div>
    <div class="mb-3">
      <label class="form-label">商品価格</label>
      <input type="number" class="form-control" autocomplete="off"
             th:field="*{price}">
    </div>
    <div class="mb-3">
      <label for="imageFile" class="form-label">商品画像のアップロード</label>
      <input class="form-control dropify" type="file" name="imageFile" id="imageFile">
    </div>
    <button type="submit" class="btn btn-primary">追加する</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/dropify/js/dropify.js"></script>
<script>
    $(document).ready(function(){
        $('.dropify').dropify({
            messages: {
                'default': 'ファイルをドラッグ&ドロップするか、クリックしてください。',
                'replace': 'ドラッグ&ドロップ、またはクリックして画像を変更できます。',
                'remove':  '削除',
                'error':   'エラーが発生しました。'
            },
            error: {
                'fileSize': 'ファイルサイズが大きすぎます（最大 {{ value }}）。',
                'minWidth': '画像の幅が小さすぎます (最小 {{ value }}}px)。',
                'maxWidth': '画像の幅が大きすぎます (最大 {{ value }}}px)。',
                'minHeight': '画像の高さが小さすぎます (最小 {{ value }}}px)。',
                'maxHeight': '画像の高さが大きすぎます (最小 {{ value }}}px)。',
                'imageFormat': 'その画像形式は使用できません ({{ value }} のみ)。'
            }
        });
    });
</script>
</body>
</html>