<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta th:fragment="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/dropify/css/dropify.css">
</head>

<body>

<div th:replace="~{_fragments/layout :: header}"></div>

<div class="container">
  <div th:replace="~{_fragments/layout :: message}">処理完了メッセージ</div>
  <div th:replace="~{_fragments/layout :: errorMessage}">エラーメッセージ</div>
  <div th:replace="~{_fragments/layout :: errorMessages}">エラーメッセージ</div>

  <br>
  <a th:href="@{/}">< 一覧へ戻る</a>
  <br>
  <br>
  <h4>ウイルススキャン</h4>
  <br>
  <div class="container">
    <form method="post" th:object="${uploadFileScan}" th:action="@{/file-scan/scan}" enctype="multipart/form-data">
      <div class="mb-3">
        <input class="form-control dropify" type="file" th:field="*{file}">
      </div>
      <button type="submit" class="btn btn-warning">ウイルススキャンを実施する</button>
    </form>
    <div th:if="${scanResult}" class="card border-danger mb-3 mt-4" style="width: 50%;">
      <div class="card-header">ウイルススキャン結果</div>
      <div class="card-body text-danger">
        <h5 class="card-title" th:text="${scanResult.status()}"></h5>
        <h5 class="card-title" th:text="${scanResult.statusMessage()}"></h5>
        <p class="card-text" th:text="${scanResult.resultMessage()}"></p>
        <p class="card-text" th:text="${scanResult.signature()}"></p>
      </div>
    </div>
    <br>
    <form method="post" th:action="@{/file-scan/discoverVirus}">
      <button type="submit" class="btn btn-danger">ウイルスを検知してみる（EICARテキスト）</button>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/dropify/js/dropify.js"></script>
<script>
    $(document).ready(function(){
        $('.dropify').dropify({
            messages: {
                'default': 'ファイルをドラッグ&ドロップするか、クリックしてください。',
                'replace': 'ドラッグ&ドロップ、またはクリックして画像を変更できます。',
                'remove':  '削除',
                'error':   'エラーが発生しました。'
            },
            error: {
                'fileSize': 'ファイルサイズが大きすぎます（最大 {{ value }}）。',
                'minWidth': '画像の幅が小さすぎます (最小 {{ value }}}px)。',
                'maxWidth': '画像の幅が大きすぎます (最大 {{ value }}}px)。',
                'minHeight': '画像の高さが小さすぎます (最小 {{ value }}}px)。',
                'maxHeight': '画像の高さが大きすぎます (最小 {{ value }}}px)。',
                'imageFormat': 'その画像形式は使用できません ({{ value }} のみ)。'
            }
        });
    });
</script>
</body>
</html>