<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="file.handling.infrastructure.datasource.product.ProductMapper">
    <select id="list" resultType="file.handling.domain.model.product.Product">
        SELECT
            商品ID AS "productId.value",
            商品番号 AS "number",
            商品名称 AS "name",
            商品価格 AS "price",
            画像パス AS "fileName"
        FROM 商品.商品
        ORDER BY 商品番号
    </select>

    <select id="productOf" resultType="file.handling.domain.model.product.Product">
        SELECT
            商品ID AS "productId.value",
            商品番号 AS "number",
            商品名称 AS "name",
            商品価格 AS "price",
            画像パス AS "fileName"
        FROM 商品.商品
        WHERE 商品.商品ID = #{productId.value}
    </select>

    <select id="fileMetadataOf" resultType="file.handling.domain.model.product.ImageFileMetadata">
        SELECT
            ファイル名 AS "filename",
            ファイルサイズ AS "size",
            最終アクセス日時 AS "lastAccessTime",
            最終更新日時 AS "lastModifiedTime",
            作成日時 AS "creationTime",
            所有者 AS "fileOwner",
            ハッシュ値 AS "hash"
        FROM 商品.画像ファイルメタデータ
        WHERE 画像ファイルメタデータ.ファイル名 = #{filename}
    </select>

    <select id="productExistsOf" resultType="java.lang.Boolean">
        SELECT EXISTS(
                       SELECT 商品ID
                       FROM  商品.商品
                       WHERE 商品.画像パス = #{filename}
                   )
    </select>

    <insert id="registerNew">
        INSERT INTO 商品.商品
            (商品ID, 商品名称, 商品価格, 画像パス)
        VALUES
            (
                #{productId.value},
                #{product.name},
                #{product.price},
                #{product.fileName}
            )
    </insert>

    <insert id="registerFileMetadata">
        INSERT INTO 商品.画像ファイルメタデータ
            (商品ID, ファイル名, ファイルサイズ, 最終アクセス日時, 最終更新日時, 作成日時, 所有者, ハッシュ値)
        VALUES
            (
                #{productId.value},
                #{metadata.filename},
                #{metadata.size},
                #{metadata.lastAccessTime},
                #{metadata.lastModifiedTime},
                #{metadata.creationTime},
                #{metadata.fileOwner},
                #{metadata.hash}
            )
    </insert>

    <insert id="register">
        INSERT INTO 商品.商品
            (商品ID, 商品番号, 商品名称, 商品価格, 画像パス)
        VALUES
            (
                #{productId.value},
                #{product.number},
                #{product.name},
                #{product.price},
                #{product.fileName}
            )
    </insert>

    <delete id="delete">
        DELETE FROM 商品.商品
        WHERE 商品.商品ID = #{productId.value}
    </delete>
</mapper>